.ticket{
	display: table;
	border: 1px dashed #333;
	border-radius: 5px;
	padding: 15px;
	background: #FFF;
	color: #000;
	margin: 15px;
	page-break-inside:avoid;
}.ticket h1{
	margin-top: 0px;
}.ticket p{
	color: #000;
}.ticket img{
	float: left;
	margin-right: 15px;
}.ticket *{
	page-break-after:avoid;
	page-break-before:avoid;
}

.order .well{
	margin: 15px;
	background: #CCC;
	text-align: center;
	border-bottom: 1px dashed #333;
	margin-bottom: 5px;
}

.noprint{
	display:none !important;
}